@use "../helpers" as *;

.auto {
  padding: 0;
  outline: none;

  &-list {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    @include mobile {
      grid-template-columns: repeat(2, 1fr);
    }

  }

  &-link {
    color: var(--color-dark);
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-decoration: none;
    border: var(--border);
    padding: 10px;
    color: var(--color-dark);
    &:hover{
      color: var(--color-accent) !important;
    }

  }

  &-title {
    color: inherit;
    font-size: 18px;
  }

  &-info {
    display: flex;
    align-items: end;
    justify-content: space-between;
    font-size: 12px;
  }

  &-cost {
    font-size: 20px;
    white-space: nowrap;
    color: var(--color-accent);
  }

  &-name {
    font-weight: bold;

    &:hover {
      color: var(--color-accent);
    }
  }

  &-span {
    color: var(--color-gray);

  }

  &-span,
  &-name {
    display: block;
    white-space: nowrap;
  }

  &-img {
    width: 100%;


  }
}
