.cars {
  &__list{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__item {
    display: flex;
    min-height: 140px;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-gray);
    padding-bottom: 20px;
  }
  &__image {
    max-width: 160px;
    width: 100%;
    max-height: 120px;
    height: 100%;
  }
  &__desc{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    &-top{
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
    &-title{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

  }
  &__overview{
    
    &-list{
      background-color: var(--color-gray-alt);
      padding: 5px;
      display: flex;
      gap: 2px;
      flex-wrap: nowrap;
      white-space: nowrap;
      font-size: 15px;
      justify-content: space-between;
      color: #555555;
    }
  }
  &__title{
    font-size: 20px;
  }
  &__status{
    padding: 5px 10px;
    border: 1px solid var(--color-gray-alt);
    transition-duration: var(--transition-duration);

    &:hover{
      transform: scale(1.1);
    }
  }
  &__location{
    font-size: 14px;
  }
  &__price{
    display: flex ;
    justify-content: space-between;
    flex-direction: column;

    &-title{
      font-size: 23px;
      color: var(--color-dark);
    }
    &-top{
      display: flex ;
      flex-direction: column;
      gap: 5px;
    }
  
  }
  &__button{
    width: 100%;
  }
}
