@use "../helpers" as *;
.select {
  background-color: #f5f5f5;
  padding: 15px;

  &__div {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;

    &-radio{
      flex-direction: row-reverse;
      justify-content: start;
      align-items: center;
    }
  }
  &__radios {
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
  }
  &__radio {
    font-size: 15px;
    white-space: nowrap;
  }
  &__labels,
  &__selects {
    display: grid;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    gap: 10px;

    &-big{
      grid-template-columns: 1fr;
    }

    &-radio{
      display: flex;
      gap: 1px;
      flex-direction: column;
    }
  }
  &__label{
    color: #555;
    font-size: 15px;
  }
  &__select{
    border: 1px solid #cccccc;
    background: #fcfcfc;
    font-size: 14px;
    padding: 5px;
    font-weight: 500;
  }
  &__inputs{
    display: flex;
    gap: 1px;
    flex-direction: column;
  }
  &__buttons{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
