@use "../helpers" as *;

.services {
  padding: 0;

  &-list {
    display: flex;
    overflow: auto;
    height: 100%;
    @include tablet {
      justify-content: space-between;
    }
    @include mobile {
      flex-direction: column;
    }
  }

  &-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    min-height: 300px;


    &:not(:last-child) {
      border-right: var(--border);
    }

    @include tablet {
      border: var(--border);
      min-height: 150px;


    }
    @include mobile {
      padding: 5px;
      height: 100%;
      min-height: 50px;
    }
  }

  &-link {
    color: var(--color-dark);
    display: flex;
    flex-direction: column;
    text-decoration: none;
    gap: 10px;



  }

  &-time {
    font-size: 13px;
    white-space: nowrap;
  }


}

.service {

  &-title {
    font-size: 19px;
    font-weight: bold;
    &:hover {
      color: var(--color-accent);
    }
  }

  &-teg {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-accent);
  }
}